* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

html,
body {
    background-color: white;
    color: #444;
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

a:link,
a:visited{
    text-decoration: none;
    color: #000;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1 {
    margin-top: 15vh;
}

/************** HEADER ****************/

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2e2e2e;  
}



.logo img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 10%;
    border: 2px solid #fff;
}

.main-nav {
    float: right;
}

.main-nav ul {
    list-style: none;
    margin-top: 10px;
}

.main-nav ul li {
    display: inline-block;
}

.main-nav ul li a {
    color: white;
}

.main-nav a{
    
    margin: 0 30px 30px 0;
    transition: border-bottom 0.2s;
    border-bottom: 3px solid transparent;
    text-transform: uppercase;
    font-size: 90%;
    padding-bottom: 10px;
}

.main-nav-last-a:last-child {
    margin-right: 0;
}

.main-nav a:hover,
.main-nav a:active{
    border-bottom: 2px solid #076df8;
}






/************** Main ****************/

.main{
    overflow-y: hidden;
}

.heading-1 {
    font-size: 85%;
}

.heading-2 {
    font-size: 70%;
}

.main h1 {
    text-align: center;
}

.pubg-main-img {
    display: block;
    margin: 30px auto;
    width: 80%;
    
}


/************** Ad ****************/

.long-ad {
    border: 1px solid #000;
    height: 500px;
    width: 180px;
    margin: 15vh 60px 0 60px;
    
    
}


/************** Features ****************/

.about-tool {
    margin-top: 30px;
}

.download h2{
    margin-top: 80px;
}
.about-performance {
    margin-top: 30px;
}

.download-logo-section {
    border: 1px solid #999;
    width: 110px;
    height: 110px;
    border-right: transparent;
    margin: 0 0 0 0;
    padding: 0;
}

.download-logo {
    border-radius: 10%;
    width: 85%;
    height: auto;
    margin: 7.5px 0 0 7.5px;
    
}

.download-detail {
    border: 1px solid #999;
    margin: 0 0;
    height: 110px;
    background-color: #f5f5f5;
    border-right: transparent;
    width: 70%;
    font-size: 90%;
    padding-left: 15px;
    padding-top: 15px;
    
}

.download-detail h3 {
    margin: 0 0 8px 0;
}

.download-detail a {
    color: #fa5373;
}

.download-button {
    border: 1px solid #999;
    margin: 0 0;
    width: 110px;
    height: 110px;
    
}

.download-button button {
    margin: 80px 0 0 4px;
    width: 100px;
    font-size: 70%;
}

.how-it-works h2 {
    margin-top: 10%;
}
.details h3 {
    color: #000;
    margin-bottom: 20px;
}


/******** FOOTER *********/

.section-footer {
    background-color: #2e2e2e;
    color: #919191;
    padding: 15px;
    font-size: 90%;
}
.footer-links a:link,
.footer-links a:visited,
.social-links a:link, 
.social-links a:visited {
    text-decoration: none;
    border: 0;
    color: #919191;
}

.footer-links {
    list-style: none;
    float: left;
    padding: 10px;
    font-size: 90%;
}

.social-links {
    list-style: none;
    float: right;
    padding: 10px;
    font-size: 100%;
}


footer li {
    display: inline-block;
    margin-right: 20px;
}


.footer-line {
    text-align: center; 
    padding: 20px;
    font-size: 90%;
}

.footer-links a:hover,
.footer-links a:active {
    color: #fff;
}

.social-links a:link,
.social-links a:visited {
    color: #919191;
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #55acee;
}

.ion-social-googleplus:hover {
    color: #dc4e41;
}

.ion-social-instagram:hover {
    color: #517fa4;
}